<p>Ask your coach anything:</p>
<form action="answer">
  <div class="form-inline">
  <input type="text" name="question" class="form-control" placeholder="Your question here">
  <button type="submit" class="btn btn-primary"> Ask! </button>
  </div>
</form>
