// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray;
}

.main {
  padding: 30px 50px;
  width: 60vw;
}

.main > p {
  font-style: italic;
}

h1 {
  font-family: 'Helvetica';
  font-size: 40px;
  margin-bottom: 50px;
}

p {
  margin-bottom: 10px;
}

.form-control {
  width: 80% !important;
}

.message {
  display: block;
  background: white;
  border-left: 5px solid #DDDDDD;
  padding: 15px;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 5px 5px 5px gray;
  &:hover {
     box-shadow: 5px 5px 5px blue;
   }
}

.subtitle {
  font-style: italic;
}



